{% extends "base.html" %}

{% block body %}


<div class="span2">
<div class="well sidebar-nav">
<ul class="nav nav-list">
<li class="nav-header">Watch</li>
<li>
    <select id="watch_form_service" name="service" class="input-small">
        <option value="nova">Nova</option>
        <option value="glance">Glance</option>
        <option value="generic">Other</option>
    </select>
</li>
<li><button type="button" class="btn" onClick="clear_last_watch(start_watch)">Start</button></li>
<li><button type="button" class="btn" onClick="start_watch()">Restart</button></li>
<li><button type="button" class="btn" onClick="stop_watch()">Stop</button></li>
<li><button type="button" class="btn" onClick="toggle_watch_size()">Expand/Shrink</button></li>
</ul>
</div><!--/.well -->
</div><!--/span-->
<div class="span10">

<legend>Watch</legend>
<div id="watch_table_container" class="container">
<table id="watch_table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Loc</td>
            <td>ID</td>
            <td>Date</td>
            <td>Time</td>
            <td>Deployment</td>
            <td>Event</td>
            <td>UUID</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>
<!--<script type="text/javascript">clear_last_watch(start_watch)</script>-->
<form id="search_form" class="form-inline" onsubmit="do_search();return false;">
    <legend>Search</legend>
    <div class="input-append">
        <select id="search_form_service" name="service" class="input-small">
            <option value="nova">Nova</option>
            <option value="glance">Glance</option>
            <option value="generic">Other</option>
        </select>
        <select id="search_form_field" name="field" class="input-small">
            <option value='uuid'>UUID</option>
            <option value='request_id'>RequestId</option>
            <option value='event'>Event</option>
            <option value='tenant'>Tenant</option>
            <option value='service'>Service</option>
            <option value='host'>Host</option>
            <option value='routing_key'>Routing Key</option>
        </select>
        <input id="search_form_value" type="text" name="value" class="input-xlarge">
        <button type="button" class="btn btn-primary" onclick="do_search()">Search</button>
        <select id="search_form_limit" name="limit" class="input-small">
            <option value="25">25</option>
            <option value="100">100</option>
            <option value="250">250</option>
            <option value="none">None</option>
        </select>
    </div>
</form>
<div id="search_table_container" class="container">
<div class="progress progress-striped active" id="search_progress">
    <div class="bar" style="width: 100%;"></div>
</div>
<script type="text/javascript">$("#search_progress").hide();</script>
<table id="search_table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Loc</td>
            <td>ID</td>
            <td>Datetime</td>
            <td>Deployment</td>
            <td>Event</td>
            <td>Host</td>
            <td>State</td>
            <td>State'</td>
            <td>Task</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>


</div><!--/span-->

{% endblock %}
