{% extends "base.html" %}

{% block body %}

<button type="button" onClick="start_watch()">Start</button>
<button type="button" onClick="stop_watch()">Stop</button>
<button type="button" onClick="toggle_watch_size()">Expand/Shrink</button>
<div id="watch_table_container" class="container">
<table id="watch_table" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Loc</td>
            <td>ID</td>
            <td>Date</td>
            <td>Time</td>
            <td>Deployment</td>
            <td>Event</td>
            <td>UUID</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>
<script type="text/javascript">clear_last_watch(start_watch)</script>

{% endblock %}
